.column {
    width: 100%;
    display: flex;
    display: flex;
}

.column :last-child {
    border-right: none;
    background-color: var(--orange-200);
    font-size: 30px;
}

.column :first-child {
    border-left: none;
}


.column :last-child:active {
    background-color: var(--orange-300);
}

.column button {
    width: 100%;
    background-color: var(--gray-300);
    height: 80px;
    border: 0.5px solid var(--gray-200);
    font-size: 20px;
    color: var(--black-400);
}

.column button:active {
    background-color: rgba(128, 128, 128, 0.305)
}